<!-- <input type="text" name="search" (blur)="logger($event)"> -->
<input [(ngModel)]="texto" type="text" name="search">
<ul class="list-group">
    <!-- List header -->
    <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center" id="tables-list-head">
        <div>
            <input class="form-check-input me-2" type="checkbox" value="12" id="select-all" [(ngModel)]="allSelected" (click)="selectAll()" >
            <label class="form-check-label" for="select-all">Tabelas</label>
        </div>
        <span class="badge bg-primary rounded-pill">{{tables.length}}</span>
    </div>
    <!-- /List header -->

    <li class="list-group-item tables-item" id={{tables.indexOf(table)}}
    *ngFor="let table of tables|filter:texto" >
        <input class="form-check-input me-2" type="checkbox" id={{table}} >
        <label class="form-check-label stretched-link" for="{{table}}">{{table}}</label>
    </li>
    
</ul>


<!-- 
    style:
    
    height: 100px;
    border: 1px solid black;
    /* overflow: visible; */
    overflow-y: scroll;

 -->