<!-- Seleção de SGBD -->
<form [formGroup]="connectionForm" >
    <div class="mb-3 mx-auto" style="max-width: 306px;">
        <h5 class="text-center">Seleção de SGBD:</h5>
        <div class="row justify-content-center" style="column-gap: 3rem;">
            <fieldset class="form-check col-auto">
                <input class="form-check-input" type="radio" name="sgbdRadio" value="1" formControlName="sgbdRadio">
                <label class="form-check-label" for="sgbdRadio">
                SQLServer
                </label>
            </fieldset>
            <div class="form-check col-auto">
                <input class="form-check-input" type="radio" name="sgbdRadio" value="2" formControlName="sgbdRadio">
                <label class="form-check-label" for="sgbdRadio">
                Oracle DB
                </label>
            </div>
        </div>
    </div>
    <!-- /Selecao -->

    <!-- Caixa de texto da string -->
    <div class="form-connection mx-auto">
        <h5>String de conexão</h5>
        <textarea class="form-control fw-normal mb-2" name="connString" id="input-connection" placeholder="Sem aspas e sem caractere de escape ( \\ , \')" minlength="10" spellcheck="false" required
        formControlName="connString"></textarea>
        <div class="btn-area d-flex justify-content-end mt-2 w-100">
            <span class="d-grid" style="justify-items: end;">
                <button type="submit" class="btn btn-primary" (click)="handleSubmit()">Conectar</button>
                <small class="text-danger">{{warn}}</small> 
            </span>
        </div>
    </div>
</form>
