<div class="form-connection mx-auto">
  <h5>String de conexão</h5>
  <textarea class="form-control fw-normal mb-2" name="inputConnection" id="input-connection" placeholder="Cole aqui a string de conexão do banco de dados" minlength="10" spellcheck="false" required></textarea>
  <div class="btn-area d-flex justify-content-end mt-2 w-100">
    <button type="submit" class="btn btn-primary">Conectar</button>
  </div> 
</div>
<!-- <div class="input-group mb-3">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
    <input type="text" class="form-control" aria-label="Text input with dropdown button">
  </div> -->
