<form action="" class="mx-auto" style="max-width: 565px;">
    <h5 class="pb-1">Arquivos de classes gerados:</h5>
    <div class="list-group border border-1 rounded-bottom-2">
        <!-- List header -->
        <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center border-0 list-header" id="tables-list-head">
            <div>
                <label>Downloads</label>
            </div>
            <!-- <span class="badge rounded-pill">{{(tables).length}}</span> -->
        </div>
        <!-- /List header -->
    
        <ul class="p-0 list-body">
            <li class="list-group-item tables-item" id={{tables.indexOf(table)}}
        *ngFor="let table of tables" >
            <a href={{table.download}} download="{{table.name}}" class="link-offset-1 download-link">{{table.name|titlecase}}</a>
            <!-- a href={{linkURI}} download="Teste.txt" class="link-offset-1 download-link">{{table.name|titlecase}}.cs</a> -->
            </li>
        </ul>
    </div>
    <div class="btn-area d-flex justify-content-end mt-2 w-100">
        <button type="submit" class="btn btn-primary">Baixar todos</button>
    </div>    
</form>
