<form action="" class="mx-auto" style="max-width: 565px;">
    <h5 class="pb-1">Arquivos de classes gerados:</h5>
    <small>Clique no nome para baixar o arquivo de classe, ou na seta para copiar a classe em texto</small>
    <div class="list-group border border-1 rounded-bottom-2">
        <!-- List header -->
        <div class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center border-0 list-header" id="classes-list-head">
            <div>
                <label>Downloads</label>
            </div>
            <!-- <span class="badge rounded-pill">{{(tables).length}}</span> -->
        </div>
        <!-- /List header -->
    
        <ul class="p-0 list-body">
            <li class="list-group-item tables-item" id={{classes.indexOf(class)}}
        *ngFor="let class of classes" >
                <a href={{class.download}} download="{{class.name}}" class="link-offset-1 download-link">{{class.name|titlecase}}</a>
                
                <span class="float-right" role="button" (click)="showDescription($event, class.name+'-desc')"><i class="bi bi-chevron-down" title="Visualizar a classe"></i></span>
                <div class="class-description" id="{{class.name+'-desc'}}">  
                    <pre>{{class.description}}</pre>
                </div>
            </li>
        </ul>
    </div>
    <div class="btn-area d-flex justify-content-end mt-2 w-100">
        <button type="submit" class="btn btn-primary" (click)="downloadAll()">Baixar todos</button>
    </div>    
</form>
