.list-body{
    max-height: 206px;
    overflow-y: auto;
    margin-bottom: 0px;
    padding: 0px;
    border-bottom-left-radius: 0.375rem;
}
/* li{
    border-inline: none;

} */

.input-search{
    font-size: 16px;
}

.input-search:focus{
    outline: 0;
    box-shadow: none !important;
}

