<div class="mb-3 mx-auto" style="max-width: 306px;">
  <h5 class="text-center">Seleção de SGDB:</h5>
  <div class="row justify-content-center" formGroupName="connectionForm" >
      <div class="form-check col-auto" formGroupName="sgbd">
          <input class="form-check-input" type="radio" [value]="true" id="flexRadioDefault1" formControlName="op1">
          <label class="form-check-label" for="flexRadioDefault1">
            SQLServer
          </label>
        </div>
        <div class="form-check col-auto">
          <input class="form-check-input" type="radio" [value]="true" id="flexRadioDefault2" formControlName="op2">
          <label class="form-check-label" for="flexRadioDefault2">
            Oracle DB
          </label>
        </div>
  </div>
</div>
