/* You can add global styles to this file, and also import other style files */
.list-header{
    background-color: #7749F8 !important;
    color: #FFFF
}

.list-header>.badge{
    background-color: #FFFF;
    color: #7749F8;
    text-align: center;
}

.disabled-div{
    opacity: 60%;
}

.btn-scroll-down{
    position: absolute; 
    left: 50%;
    color: #7749f8;
    cursor: pointer;
}

.float-right{
    float: right;
}

.item-description{
    display: none;
    padding: 10px;
    border-radius: 6px;
    margin-top: 0.35rem;
    border: 1px solid #dee2e6;
    background-color: #bcc0c924;
}

.item-description>pre{
    margin-bottom: 0 !important;
}